apiVersion: v1
kind: Secret
metadata:
  name: iot-pipeline-secrets
  namespace: iot-pipeline
  labels:
    app: timescaledb
type: Opaque
data:
  # TimescaleDB Credentials
  POSTGRES_USER: "REPLACE_ME"
  POSTGRES_PASSWORD: "REPLACE_ME"
  POSTGRES_DB: "REPLACE_ME"

  # Grafana Credentials
  GRAFANA_USER: "REPLACE_ME"
  GRAFANA_PASSWORD: "REPLACE_ME"

  # Kafka KRaft Cluster ID
  CLUSTER_ID: "REPLACE_ME"

  # Create the DSN for postgres-exporter
  DATA_SOURCE_NAME: "REPLACE_ME"