apiVersion: v1
kind: ConfigMap
metadata:
  name: kafka-jmx-config
  namespace: iot-pipeline
data:
  kafka-jmx-config.yml: |
    jmxUrl: service:jmx:rmi:///jndi/rmi://localhost:7071/jmxrmi
    ssl: false
    lowercaseOutputName: false
    lowercaseOutputLabelNames: false
    rules:
      - pattern: kafka.server<type=BrokerTopicMetrics, name=MessagesInPerSec><>Count
        name: kafka_server_brokertopicmetrics_messagesin_total
        type: COUNTER
      - pattern: kafka.server<type=BrokerTopicMetrics, name=BytesInPerSec><>Count
        name: kafka_server_brokertopicmetrics_bytesin_total
        type: COUNTER
      - pattern: kafka.server<type=BrokerTopicMetrics, name=BytesOutPerSec><>Count
        name: kafka_server_brokertopicmetrics_bytesout_total
        type: COUNTER
      - pattern: kafka.server<type=ReplicaManager, name=UnderReplicatedPartitions><>Value
        name: kafka_server_replica_manager_under_replicated_partitions
        type: GAUGE
      - pattern: kafka.server<type=ReplicaManager, name=LeaderCount><>Value
        name: kafka_server_replica_manager_leader_count
        type: GAUGE
      - pattern: kafka.server<type=ReplicaManager, name=PartitionCount><>Value
        name: kafka_server_replica_manager_partition_count
        type: GAUGE
      - pattern: kafka.server<type=KafkaRequestHandlerPool, name=RequestHandlerAvgIdlePercent><>OneMinuteRate
        name: kafka_server_request_handler_avg_idle_percent
        type: GAUGE
      - pattern: kafka.network<type=RequestMetrics, name=RequestsPerSec, request=(.+)><>Count
        name: kafka_network_requests_total
        type: COUNTER
      - pattern: kafka.log<type=LogSize, name=Size><>Value
        name: kafka_log_size_bytes
        type: GAUGE