apiVersion: v1
kind: Service
metadata:
  name: kafka-headless
  namespace: iot-pipeline
  labels:
    app: kafka
spec:
  clusterIP: None
  publishNotReadyAddresses: true
  selector:
    app: kafka
  ports:
  - name: kafka
    port: 9092
  - name: controller
    port: 29093
  - name: jmx
    port: 7071

