apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-config
  namespace: iot-pipeline
data:
  alertmanager.yml: |
    global:
      resolve_timeout: 5m
    
    route:
      group_by: ['alertname', 'cluster', 'service']
      group_wait: 10s
      group_interval: 10s
      repeat_interval: 12h
      receiver: 'default-receiver'
      routes:
      - match:
          severity: critical
        receiver: 'critical-receiver'
      - match:
          severity: warning
        receiver: 'warning-receiver'
    
    receivers:
    - name: 'default-receiver'
      webhook_configs:
      - url: 'http://localhost:5001/alerts'
        send_resolved: true
    
    - name: 'critical-receiver'
      webhook_configs:
      - url: 'http://localhost:5001/critical-alerts'
        send_resolved: true
    
    - name: 'warning-receiver'
      webhook_configs:
      - url: 'http://localhost:5001/warning-alerts'
        send_resolved: true
    
    inhibit_rules:
    - source_match:
        severity: 'critical'
      target_match:
        severity: 'warning'
      equal: ['alertname', 'cluster', 'service']