apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: iot-pipeline
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s
    
    rule_files:
      - /etc/prometheus/rules/*.yml
    
    alerting:
      alertmanagers:
        - static_configs:
            - targets: ['alertmanager.iot-pipeline.svc.cluster.local:9093']
    
    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']
      
      - job_name: 'kafka-jmx-exporter'
        kubernetes_sd_configs:
        - role: pod
          namespaces:
            names:
            - iot-pipeline
        relabel_configs:
        - source_labels: [__meta_kubernetes_pod_label_app]
          regex: kafka-jmx-exporter
          action: keep
      
      - job_name: 'ruuvitag-adapter'
        static_configs:
          - targets: ['ruuvitag-adapter.iot-pipeline.svc.cluster.local:8002']
      
      - job_name: 'kafka-consumer'
        static_configs:
          - targets: ['kafka-consumer.iot-pipeline.svc.cluster.local:8001']
      
      - job_name: 'timescaledb-sink'
        static_configs:
          - targets: ['timescaledb-sink.iot-pipeline.svc.cluster.local:8003']
      
      - job_name: 'timescaledb'
        static_configs:
          - targets: ['postgres-exporter.iot-pipeline.svc.cluster.local:9187']
      
      - job_name: 'mosquitto'
        static_configs:
          - targets: ['mosquitto-exporter.iot-pipeline.svc.cluster.local:9234']
      
      - job_name: 'node-exporter'
        kubernetes_sd_configs:
        - role: node
        relabel_configs:
        - source_labels: [__address__]
          regex: '(.*):10250'
          replacement: '${1}:9100'
          target_label: __address__
      
      - job_name: 'cadvisor'
        kubernetes_sd_configs:
        - role: node
        scheme: https
        tls_config:
          ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
          insecure_skip_verify: true
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        relabel_configs:
        - action: labelmap
          regex: __meta_kubernetes_node_label_(.+)
        - target_label: __address__
          replacement: kubernetes.default.svc:443
        - source_labels: [__meta_kubernetes_node_name]
          regex: (.+)
          target_label: __metrics_path__
          replacement: /api/v1/nodes/${1}/proxy/metrics/cadvisor