
apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: iot-pipeline
  annotations:
    cloud.google.com/backend-config: '{"default": "grafana-backendconfig"}'
    cloud.google.com/neg: '{"ingress": true}'
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: 3000
  selector:
    app: grafana