apiVersion: v1
kind: Service
metadata:
  name: mosquitto
  namespace: iot-pipeline
spec:
  type: ClusterIP
  ports:
  - port: 1883
    targetPort: 1883
    name: mqtt
  - port: 9001
    targetPort: 9001
    name: websocket
  selector:
    app: mosquitto