---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: iot-pipeline
  name: pod-reader
rules:
  - apiGroups: ['']
    resources: ['pods']
    verbs: ['get', 'list']
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  namespace: iot-pipeline
  name: pod-reader
roleRef:
  kind: Role
  name: pod-reader
  apiGroup: rbac.authorization.k8s.io
subjects:
  - kind: User
    name: Rabindra
    apiGroup: rbac.authorization.k8s.io